.main-container {
	width: 50%;
	margin: auto;
	border: 1px solid rgba(0,0,0,1);
	min-width: 500px;
}

.main-input {
	width: 100%;
	border: 0px;
	border-bottom: 2px rgba(0,0,200,1);
	font-size: 24px;
	padding: 10px;
}

.task-list {
	width: 100%;
}