body {
	font-family: 'Lato', sans-serif;
}

.main-container {
	width: 50%;
	margin: auto; 
	border: 1px solid rgba(0,0,0,1);
	min-width: 500px; 
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.main-input {
	width: 100%;
	border: 0px;
	border-bottom: 2px rgba(0,0,200,1);
	font-size: 24px; 
	padding: 10px;
}

textarea:focus, input:focus{
    outline: none;
}

.menu {
	margin: auto;
	width: 50%; 
	text-align: right;
}

.menu a {
	color: #000;
	text-decoration: none;
	margin-right: 5px;
} 

.menu a:hover {
	border-top: 1px solid #000 !important;
}

.main-input:focus {  
	background-color: rgba(0,0,0,0.1);
}
 
.task-list {
	width: 100%;
	counter-reset: section;
} 

.todo-list { 
	list-style: none; 
	margin: 0px !important;
}
.task {
	padding-left: 10px;
	padding-top: 8px; 
	padding-bottom: 8px;
	margin-left: -40px;
	font-size: 20px;
}​

.task::before {
    counter-increment:section;
    content: "" counter(section) ". ";
}

.task:nth-child(odd){ 
   	background-color: rgba(0,0,0,0.2);
}

.icons { 
	display: inline-block;
	float: right;
	margin-right: 20px; 
	cursor: pointer; 
}

.fa {
	margin-left: 10px !important; 
}

.empty {
	width: 500px;
	max-width: 50%; 
	margin-top: 20px;  
	opacity: 0.3;
}

.email {
	float: left;
}

.login-container {
	margin: auto;
	width: 300px;  
} 

.login-input {
	border: 1px solid #000;
	width: 100%; 
	margin: 5px;
	height: 30px;
	padding: 5px;
	font-size: 18px;
} 
 
.login-button { 
	width: 104%;
	height: 30px;
	background-color: rgba(0,0,0,0.1); 
	border: 1px solid #000;
	padding: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	font-size: 14px;
}

.title {
	font-size: 46px;
	font-weight: 600;
}